#app {
  width: 336px;
  height: 555px;
}

.weather__summary {
  font-size: 15px;
  color: #fff;
  text-align: center;
  padding-top: 12.5px;
}

.weather__temp {
  font-size: 15px;
  color: #fff;
  text-align: center;
}

.disney__movie {
  margin: auto;
  display: block;
  max-width: 100%;
  height: 50%;
}

.disney__title {
  font-size: 15px;
  color: #fff;
  text-align: center;
}

.disney__logo {
  width: 30%;
  height: auto;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}